[submodule "AntiBot"]
	path = AntiBot
	url = https://github.com/wikimedia/mediawiki-extensions-AntiBot
[submodule "CategoryTree"]
	path = CategoryTree
	url = https://github.com/wikimedia/mediawiki-extensions-CategoryTree
[submodule "CheckUser"]
	path = CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser
[submodule "Cite"]
	path = Cite
	url = https://github.com/wikimedia/mediawiki-extensions-Cite
[submodule "ConfirmEdit"]
	path = ConfirmEdit
	url = https://github.com/wikimedia/mediawiki-extensions-ConfirmEdit
[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-ParserFunctions
[submodule "SpamBlacklist"]
	path = SpamBlacklist
	url = https://github.com/wikimedia/mediawiki-extensions-SpamBlacklist
[submodule "WikiEditor"]
	path = WikiEditor
	url = https://github.com/wikimedia/mediawiki-extensions-WikiEditor
[submodule "Vector"]
	path = Vector
	url = https://github.com/wikimedia/mediawiki-extensions-Vector
[submodule "InputBox"]
	path = InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
[submodule "SyntaxHighlight_GeSHi"]
	path = SyntaxHighlight_GeSHi
	url = https://github.com/wikimedia/mediawiki-extensions-SyntaxHighlight_GeSHi
[submodule "CodeEditor"]
	path = CodeEditor
	url = https://github.com/wikimedia/mediawiki-extensions-CodeEditor
[submodule "Scribunto"]
	path = Scribunto
	url = https://github.com/wikimedia/mediawiki-extensions-Scribunto
[submodule "PagedTiffHandler"]
	path = PagedTiffHandler
	url = https://github.com/wikimedia/mediawiki-extensions-PagedTiffHandler
[submodule "NamespaceRestrictions"]
	path = NamespaceRestrictions
	url = https://github.com/filbertkm/NamespaceRestrictions
[submodule "CentralAuth"]
	path = CentralAuth
	url = https://github.com/wikimedia/mediawiki-extensions-CentralAuth
